@font-face {
  font-family: myFirstFont;
  src: url("./assets/TT Norms Pro Bold.otf");
}

@media only screen and (orientation:portrait){
  #wrapper { display:none; }
  #warning-message { display:block; }
}
@media only screen and (orientation:landscape){
  #warning-message { display:none; }
}

body {
  height: 100vh;
}

.App {
  text-align: center;
  background-image: url("./assets/marketplace.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: 100vh;
  font-family: myFirstFont;
  color: #302635;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

a:link, a:visited, a:hover, a:active {
  color: white;
  text-decoration: none;
}

.splashScreen {
  position : fixed;
  top : 10%;
  left : 25%;
  background-color: #fffde5;
  border-width: 5px;
  border-color: #6e5d5a;
  width: 50%;
  height: 70%;
  margin: auto;
  padding: auto;
  font-size: 5vh;
  display: flex;
}

::-webkit-scrollbar {
  display: none;
}

.WarningMessage {
  text-align: center;
  background-size: cover;
  margin-top: 10vh;
}


.ticketImage {
  width: 20vh;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.ticketText {
  font-size: 2.5vh;
}


.mintbutton {
  width: 15rem;
  margin: auto;
  background-color: #fc6666;
  border-radius: 0.5rem;
  height: 4rem;
  font-size: 1.4rem;
  border-color:#fc6666;
}

.mintbutton:hover, .mintbutton:active, .mintbutton:focus {
  background-color: #fc6666;
  border-color:#fc6666;
}

.addressButton {
  width: 25rem;
  margin: auto;
  background-color: #ff8c44;
  border-radius: 0.5rem;
  height: 2rem;
  font-size: 0.8rem;
  border-color:#ff8c44;
}

.addressButton:hover, .addressButton:active, .addressButton:focus {
  background-color: #ff8c44;
  border-color:#ff8c44;
}